    <div class="container">
	    <div class="row">
      		<div class="col-md-12">
      		    <div class="row" style="margin-top:10px;">
                    <div class="col-sm-7">
                        <h1><%=template.title%> Bootstrap Template</h1>
                        <p class="lead"><%=template.short%> 
                            <% if (typeof template.bootstrapVersion != "undefined") { %>
                            <span class="label label-default" title="Template is compatible with and tested for Bootstrap version">Bootstrap v<%=template.bootstrapVersion%></span>
                            <% } %>
                        </p>
                    </div>
                     <div class="col-sm-5">
                        <!-- ad space -->
                        <div class="pull-right well well-sm">
                            <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/55998/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><a href="<%=template.previewUrl%>" rel="nofollow" target="ext"><img src="<%=template.imgUrl%>" class="img-thumbnail img-responsive" alt="<%=template.title%> Bootstrap Template" /></a></div>
                    <div class="col-sm-6">
                        <p><%-template.full%></p>
                        <p class="text-muted"><small>Responsive (Multiple Device Support)</small></p>
                        <p>
                         <i class="fa fa-mobile fa-4" title="For smartphone, iphone, android, galaxy, nokia, etc.."></i>
                         <i class="fa fa-tablet fa-4" title="For ipad, surface, kindle and other portrait tablet screen widths"></i>
                         <i class="fa fa-laptop fa-4" title="Supports and optimized for laptop and landscape tablet screen widths"></i>
                         <i class="fa fa-desktop fa-4" title="Supports desktop, large monitors and larger screen widths"></i>
                        </p>
                        <p class="pull-right">
                         <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large" data-align="right" data-related="BootstrapZero" data-text="<%=template.title%> free Bootstrap template from @BootstrapZero" data-url="http://bootstrapzero.com/bootstrap-template/<%=template.title.toLowerCase().replace(" ","-")%>">Share on Twitter</a>
                         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </p>
                        <p class="text-muted"><small>Permalink<br><a href="/bootstrap-template/<%=template.title.toLowerCase().replace(/\s/g, "-")%>">http://bootstrapzero.com/bootstrap-template/<%=template.title.toLowerCase().replace(/\s/g,"-")%></a></small></p>
                        <p class="text-muted"><small>License &amp; Author Details<br/>
                            <% if (typeof template.author !="undefined") { %>
                                <a href="<%=template.authorUrl%>" rel="nofollow"><%=template.license%></a> by <a href="<%=template.authorUrl%>" target="ext"><%=template.author%></a><br/>
                            <% } %>
                            <% if (typeof template.avatar !="undefined") { %>
                                <a href="<%=template.authorUrl%>" rel="nofollow" target="ext"><img src="<%=template.avatar%>" class="pull-right img-circle" width=70 height=70 /></a><br/>
                            <% } %>
                            </small>
                        </p>
                        <h3>
                         <a id="btnDownload" href="<%=template.downloadUrl%>" rel="nofollow" class="label label-info" target="ext" title="Download this template as HTML file">Download <i class="glyphicon glyphicon-circle-arrow-down"></i></a> 
                         <a href="<%=template.sourceUrl%>" rel="nofollow" class="label label-info" target="ext" title="View the HTML, CSS and JavaScript for this template">Code</a> 
                         <a href="<%=template.previewUrl%>" rel="nofollow" class="label label-success" target="ext" title="Preview this Bootstrap template">Live Preview</a> 
                        </h3>
                        
                    </div>
                </div>
                <h4>
                    <% for (var tag in template.tags) { %>
                    <a href="/bootstrap-templates/<%=template.tags[tag]%>" class="label label-default" target="ext"><%=template.tags[tag]%></a> 
                    <% } %>
                </h4>
      		</div>
      	</div>
      	<hr>
      	
      	    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'bootstrapzero'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
      	
      	<hr>
      	<div class="row">
      	 <div class="col-xs-3"><a href="http://www.bootstrapzero.com/bootstrap-template/<%=prev.title.toLowerCase().replace(/\s/g,"-")%>"><i class="glyphicon glyphicon-chevron-left"></i> Previous Template</a></div>
      	 <div class="col-xs-6 text-center"><a href="http://bootstrapbay.com/?ref=skelly" rel="nofollow" target="ext">Premium Themes <i class="glyphicon glyphicon-share"></i></a></div>
      	 <div class="col-xs-3 text-right"><a href="http://www.bootstrapzero.com/bootstrap-template/<%=next.title.toLowerCase().replace(/\s/g,"-")%>">Next Template <i class="glyphicon glyphicon-chevron-right"></i></a></div>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        $('#btnDownload').click(function(){
            
            //$('.twitter-share-button').trigger("click");
            
        })
        
        
        */
        
    });
    </script>