    <div class="container">
	    <div class="row">
      		<div class="col-md-12">
      		    <div class="row">
                    <div class="col-sm-7">
                        <h1><%=template.title%> Bootstrap Template</h1>
                        <p class="lead"><%=template.short%> &nbsp; <span class="label label-default">Bootstrap v3.0.3</span> </p>
                    </div>
                    <div class="col-sm-5">
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7"><a href="<%=template.previewUrl%>" target="ext"><img src="<%=template.imgUrl%>" class="img-thumbnail img-responsive" alt="<%=template.title%> Bootstrap Template" /></a></div>
                    <div class="col-sm-5">
                        <p><%=template.full%></p>
                        <p class="text-muted"><small>Permalink<br><a href="/bootstrap-template/<%=template.title.toLowerCase().replace(" ","-")%>">http://bootstrapzero.com/bootstrap-template/<%=template.title.toLowerCase().replace(" ","-")%></a></small></p>
                        <p class="text-right"><br/>
                            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large" data-align="right" data-related="BootstrapZero" data-text="Another free template from @BootstrapZero" data-url="http://www.bootstrapzero.com/bootstrap-template/<%=template.title.toLowerCase().replace(" ","-")%>">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </p>
                    </div>
                </div>
                
                <h4>
                    <% for (var tag in template.tags) { %>
                    <a href="/tagged/<%=template.tags[tag]%>" class="label label-default" target="ext"><%=template.tags[tag]%></a> 
                    <% } %>
                </h4>
                
                <h4 class="pull-right clearfix">
                    <a href="<%=template.downloadUrl%>" class="label label-info" target="ext" title="Download this template">Download</a> 
                    <a href="<%=template.sourceUrl%>" class="label label-info" target="ext" title="Get the HTML, CSS and JavaScript for this template">Code</a> 
                    <a href="<%=template.previewUrl%>" class="label label-success" target="ext" title="Preview this Bootstrap template">Preview</a> 
                </h4>
      		</div>
      	</div>
      	<hr>
      	<div class="row">
      	      <div class="col-sm-2"><a href="/templates/<%=prev.id%>"><i class="glyphicon glyphicon-chevron-left"></i> Previous Template</a></div>
      	      <div class="col-sm-8"> </div>
      	      <div class="col-sm-2 text-right"><a href="/templates/<%=next.id%>">Next Template <i class="glyphicon glyphicon-chevron-right"></i></a></div>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        
        */
        
    });
    </script>