    <div class="container" id="main">
	    <div class="row">
      		<div class="col-md-12">
      		    <div class="row">
                    <div class="col-sm-7">
                        <h1><%=template.title%> Bootstrap Template</h1>
                        <p class="lead"><%=template.short%></p>
                    </div>
                    <div class="col-sm-5">
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7"><a href="<%=template.previewUrl%>" target="ext"><img src="<%=template.imgUrl%>" class="img-thumbnail img-responsive" alt="<%=template.title%> Bootstrap Template" /></a></div>
                    <div class="col-sm-5"><p><%=template.full%></p></div>
                </div>
                
                <h4>
                    <% for (var tag in template.tags) { %>
                    <a href="/tagged/<%=template.tags[tag]%>" class="label label-default" target="ext"><%=template.tags[tag]%></a> 
                    <% } %>
                </h4>
                
                <h4 class="pull-right clearfix">
                    <a href="<%=template.downloadUrl%>" class="label label-info" target="ext" title="Download this template">Download</a> 
                    <a href="<%=template.sourceUrl%>" class="label label-info" target="ext" title="Get the HTML, CSS and JavaScript for this template">Code</a> 
                    <a href="<%=template.previewUrl%>" class="label label-success" target="ext" title="Preview this Bootstrap template">Preview</a> 
                </h4>
      		</div>
      	</div>
      	<hr>
      	<div class="row">
      	      <div class="col-sm-2"><a href="/templates/<%=prev.id%>"><i class="glyphicon glyphicon-chevron-left"></i> Previous Template</a></div>
      	      <div class="col-sm-8"> </div>
      	      <div class="col-sm-2 text-right"><a href="/templates/<%=next.id%>">Next Template <i class="glyphicon glyphicon-chevron-right"></i></a></div>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        
        */
        
    });
    </script>