    <div class="container" id="main">
	    <div class="row">
      		<div class="col-md-12">
      			<h2><%=template.title%></h2>
                <p class="lead"><%=template.short%></p>
                
                <p><%=template.full%></p>
                
                <hr>
                
                <img src="<%=template.imgUrl%>" class="img-responsive">
                
                <h4>
                    <small>
                    <a href="<%=template.previewUrl%>" class="label label-success" target="ext">Preview</a>
                    <a href="<%=template.downloadUrl%>" class="label label-inverse" target="ext">Download</a>
                    <a href="<%=template.sourceUrl%>" class="label label-inverse" target="ext">Code</a>
                    </small>
                </h4>
                
                <hr>
      		</div>
      	</div>
      	<div class="row" id="templates">
      	    
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        
        */
        
    });
    </script>