    <div class="container" id="main">
	    <div class="row">
      		<div class="col-md-12">
      			<h1><%=template.title%> Bootstrap Template</h1>
                <p class="lead"><%=template.short%></p>
                
                <p><%=template.full%></p>
                
                <img src="<%=template.imgUrl%>" class="img-responsive">
                
                <hr>
                
                <h4>
                    <% for (var tag in template.tags) { %>
                    <a href="/tagged/<%=template.tags[tag]%>" class="label label-info" target="ext"><%=template.tags[tag]%></a> 
                    <% } %>
                </h4>
                
                <h4 class="pull-right clearfix">
                    <a href="<%=template.previewUrl%>" class="label label-success" target="ext">Preview</a> 
                    <a href="<%=template.downloadUrl%>" class="label label-default" target="ext">Download</a> 
                    <a href="<%=template.sourceUrl%>" class="label label-default" target="ext">Code</a> 
                </h4>
      		</div>
      	</div>
      	<div class="row" id="templates">
      	    
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        
        */
        
    });
    </script>