    <div class="container">
	    <div class="row">
      		<div class="col-md-12">
      		    <div class="row">
                    <div class="col-sm-7">
                        <h1><%=template.title%> Bootstrap Template</h1>
                        <p class="lead"><%=template.short%> &nbsp; 
                            <% if (typeof template.bootstrapVersion != "undefined") { %>
                            <span class="label label-default" title="Template is compatible with and tested for Bootstrap version">Bootstrap v<%=template.bootstrapVersion%></span>
                            <% } %>
                        </p>
                    </div>
                     <div class="col-sm-5">
                        <!-- ad space -->
                        <div class="well well-lg"> 
                          <div class="row">
                            <div class="col-sm-12">
                              <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/55998/azcarbon_2_1_0_HORIZDARK"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7"><a href="<%=template.previewUrl%>" target="ext"><img src="<%=template.imgUrl%>" class="img-thumbnail img-responsive" alt="<%=template.title%> Bootstrap Template" /></a></div>
                    <div class="col-sm-5">
                        <p><%-template.full%></p>
                        
                        <p class="text-muted"><small>Responsive (Multiple Device Support)</small></p>
                        <p>
                            <i class="fa fa-mobile fa-4" title="Supports smartphone, iphone, android, galaxy, nokia, etc.."></i>
                            <i class="fa fa-tablet fa-4" title="Supports ipad, surface, kindle and other portrait tablet screen widths"></i>
                            <i class="fa fa-laptop fa-4" title="Supports and optimized for laptop and landscape tablet screen widths"></i>
                            <i class="fa fa-desktop fa-4" title="Supports desktop, large monitors and larger screen widths"></i>
                        </p>
                        
                        <p class="text-muted"><small>Permalink<br><a href="/bootstrap-template/<%=template.title.toLowerCase().replace(/\s/g, "-")%>">http://bootstrapzero.com/bootstrap-template/<%=template.title.toLowerCase().replace(/\s/g,"-")%></a></small></p>
                        <h3><br/>
                            <a href="<%=template.downloadUrl%>" class="label label-info" target="ext" title="Download this template as HTML file">Download <i class="glyphicon glyphicon-circle-arrow-down"></i></a> 
                            <a href="<%=template.sourceUrl%>" class="label label-info" target="ext" title="View the HTML, CSS and JavaScript for this template">Code</a> 
                            <a href="<%=template.previewUrl%>" class="label label-success" target="ext" title="Preview this Bootstrap template">Live Preview</a> 
                        </h3>
                        
                    </div>
                </div>
                
                <h4>
                    <% for (var tag in template.tags) { %>
                    <a href="/bootstrap-templates/<%=template.tags[tag]%>" class="label label-default" target="ext"><%=template.tags[tag]%></a> 
                    <% } %>
                </h4>
                
                <p class="text-right"><br/>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-size="large" data-align="right" data-related="BootstrapZero" data-text="Another free template from @BootstrapZero" data-url="http://www.bootstrapzero.com/bootstrap-template/<%=template.title.toLowerCase().replace(" ","-")%>">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </p>
      		</div>
      	</div>
      	<hr>
      	<div class="row">
      	      <div class="col-sm-2"><a href="/templates/<%=prev.id%>"><i class="glyphicon glyphicon-chevron-left"></i> Previous Template</a></div>
      	      <div class="col-sm-8"> </div>
      	      <div class="col-sm-2 text-right"><a href="/templates/<%=next.id%>">Next Template <i class="glyphicon glyphicon-chevron-right"></i></a></div>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
        /* load templates */
        
        /*
        
        
        */
        
    });
    </script>