    
    <a href="https://github.com/iatek/bootstrap-zero"><img style="position: fixed; top: 50px; right: 0; border: 0; z-index: 1201;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> 
    
    <div id="masthead">  
      <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h1>Bootstrap Templates <p class="lead"><span style="color:#CCFF33;">+Free</span> Themes for Bootstrap</p></h1>
            </div>
            <div class="col-sm-4">
                <!-- ad space
                <div class="well well-lg"> 
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="img-responsive" src="//placehold.it/280x100">
                    </div>
                  </div>
                </div>
                -->
            </div>
          </div>
      </div><!-- /cont -->
    </div>
    
    <div class="container" id="main">
	    <div class="row" id="starters">
      		<div class="col-md-12">
      			<h2>Starter Templates</h2>
                <p>Kickstart your Bootstrap design with these clean, standard templates.</p>
                <hr>
      		</div>
      	</div>
      	<div class="row">
      	    <% for(i in starters) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><a href="/bootstrap-template/<%=starters[i].title.toLowerCase().replace(/\s/g,"-")%>"><%=starters[i].title%></h3></a></div>
                	<div class="panel-body"><a href="/templates/<%=starters[i].id%>"><img src="<%=starters[i].imgUrl%>" alt="<%=starters[i].tags%>,bootstrap template" class="img-responsive" /></a></div>
                	<div class="panel-footer"><strong><%=starters[i].short%></strong></div>
                </div>              
      		</div>
      		<% } %>
        </div>
        <hr>
        <div class="row" id="custom">
      		<div class="col-md-12">
      			<h2>Templates with Themes</h2>
                <p>Get a less Bootstrap-y look with these custom themes</p>
                <hr>
      		</div>
      	</div>
      	<div class="row">
      	    <% for(i in themes) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><a href="/bootstrap-template/<%=themes[i].title.toLowerCase().replace(/\s/g,"-")%>"><%=themes[i].title%></a></h3></div>
                	<div class="panel-body"><a href="/templates/<%=themes[i].id%>"><img src="<%=themes[i].imgUrl%>" alt="<%=themes[i].tags%>" class="img-responsive" /></a></div>
                	<div class="panel-footer"><strong><%=themes[i].short%></strong></div>
                </div>              
      		</div>
      		<% } %>
        </div>
        <div class="row" id="tags">
      		<div class="col-md-12">
      			<h2>Browse by Tag</h2>
                <p>Popular Bootstrap Templates and Themes</p>
                <h4>
                    <a href="/bootstrap-templates/theme" class="label label-default" target="ext">theme</a> 
                    
                    <a href="/bootstrap-templates/scroll" class="label label-default" target="ext">scroll</a> 
                    
                    <a href="/bootstrap-templates/one-page" class="label label-default" target="ext">one-page</a> 
                    
                    <a href="/bootstrap-templates/background" class="label label-default" target="ext">background</a> 
                    
                    <a href="/bootstrap-templates/business" class="label label-default" target="ext">business</a> 
                    
                    <a href="/bootstrap-templates/full" class="label label-default" target="ext">full</a> 
                    
                    <a href="/bootstrap-templates/google-maps" class="label label-default" target="ext">google-maps</a> 
                    
                    <a href="/bootstrap-templates/map" class="label label-default" target="ext">map</a> 
                    
                    <a href="/bootstrap-templates/lightbox" class="label label-default" target="ext">lightbox</a> 
                    
                    <a href="/bootstrap-templates/slider" class="label label-default" target="ext">slider</a> 
                    
                    <a href="/bootstrap-templates/gallery" class="label label-default" target="ext">gallery</a> 
                    
                    <a href="/bootstrap-templates/navbar" class="label label-default" target="ext">navbar</a> 
                    
                    <a href="/bootstrap-templates/affix" class="label label-default" target="ext">affix</a> 
                    
                    <a href="/bootstrap-templates/contact" class="label label-default" target="ext">contact</a> 
                </h4>
                <hr>
      		</div>
      	</div>
    </div>
    
    <script>
    $(document).ready(function(){
        
    });
    </script>