    
    <a href="https://github.com/iatek/bootstrap-zero"><img style="position: fixed; top: 51px; right: 0; border: 0; z-index: 1201;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> 
    
    <div id="masthead">  
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">Free Bootstrap Templates &amp; Themes</h1>
              <p class="lead text-center">The largest free, open-source template collection for Bootstrap</p>
              
            </div>
            <div class="col-sm-12">
                <!-- ad space -->
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="well pull-left"> 
                            <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/55998/azcarbon_2_1_0_HORIZDARK"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div><!-- /cont -->
    </div>
    
    <div class="container" id="main">
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">×</button>
          The best of Bootstrap in a single bundle. Download the <a href="http://www.bootbundle.com/" target="ext"><strong>BootBundle</strong></a>.
        </div>
	    <div class="row" id="starters">
      		<div class="col-md-12">
      			<h2>Starter Templates</h2>
                <p>Kickstart your Bootstrap design with these clean, standard templates.</p>
                <hr>
      		</div>
      	</div>
      	<div class="row">
      	    <% for(i in starters.slice(0,12)) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><a href="/bootstrap-template/<%=starters[i].title.toLowerCase().replace(/\s/g,"-") %>"><%=starters[i].title%></h3></a></div>
                	<div class="panel-body"><a href="/bootstrap-template/<%=starters[i].title.toLowerCase().replace(/\s/g,"-")%>"><img src="<%=starters[i].imgUrl%>" alt="<%=starters[i].tags%>,bootstrap template" class="img-responsive" /></a></div>
                	<div class="panel-footer"><strong><%=starters[i].short%></strong></div>
                </div>              
      		</div>
      		<% } %>
        </div>
        <div class="col-md-12 text-center"><a href="http://www.bootstrapzero.com/bootstrap-templates/starter" class="btn btn-success btn-lg">All Starter Templates</a></div>
        <hr>
        <div class="row" id="custom">
      		<div class="col-md-12">
      			<h2>Templates with Themes</h2>
                <p>Get a less Bootstrap-y look with these custom themes</p>
                <hr>
      		</div>
      	</div>
      	<div class="row">
      	    <% for(i in themes.slice(0,24)) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><a href="/bootstrap-template/<%=themes[i].title.toLowerCase().replace(/\s/g,"-")%>"><%=themes[i].title%></a></h3></div>
                	<div class="panel-body"><a href="/bootstrap-template/<%=themes[i].title.toLowerCase().replace(/\s/g,"-")%>"><img src="<%=themes[i].imgUrl%>" alt="<%=themes[i].tags%>" class="img-responsive" /></a></div>
                	<div class="panel-footer"><strong><%=themes[i].short%></strong></div>
                </div>              
      		</div>
      		<% } %>
        </div>
        <div class="row" id="tags">
            <div class="col-md-12 text-center"><a href="http://www.bootstrapzero.com/bootstrap-templates" class="btn btn-success btn-lg">All Free Themes and Templates</a></div>
      		<hr>
      		<div class="col-md-12">
      		    <hr>
      			<h3>Browse Templates by Tag</h3>
                <p></p>
                <h4>
                    <a href="/bootstrap-templates/theme" class="label label-default" target="ext">theme</a> 
                    
                    <a href="/bootstrap-templates/scroll" class="label label-default" target="ext">scroll</a> 
                    
                    <a href="/bootstrap-templates/one-page" title="single page app templates" class="label label-default" target="ext">one-page</a> 
                    
                    <a href="/bootstrap-templates/admin" title="dashboard and control panel templates" class="label label-default" target="ext">admin</a> 
                    
                    <a href="/bootstrap-templates/background" class="label label-default" target="ext">background</a> 
                    
                    <a href="/bootstrap-templates/business" class="label label-default" target="ext">business</a> 
                    
                    <a href="/bootstrap-templates/full" class="label label-default" target="ext">full</a> 
                    
                    <a href="/bootstrap-templates/fixed" class="label label-default" target="ext">fixed</a> 
                    
                    <a href="/bootstrap-templates/google-maps" class="label label-default" target="ext">google-maps</a> 
                    
                    <a href="/bootstrap-templates/login" class="label label-default" target="ext">login</a> 
                    
                    <a href="/bootstrap-templates/form" class="label label-default" target="ext">form</a> 
                    
                    <a href="/bootstrap-templates/footer" class="label label-default" target="ext">footer</a>
                    
                    <a href="/bootstrap-templates/contact" class="label label-default" target="ext">modal</a> 
                    
                    <a href="/bootstrap-templates/navbar" class="label label-default" target="ext">navbar</a> 
                    
                    <a href="/bootstrap-templates/map" class="label label-default" target="ext">map</a> 
                    
                    <a href="/bootstrap-templates/lightbox" class="label label-default" target="ext">lightbox</a> 
                    
                    <a href="/bootstrap-templates/slider" class="label label-default" target="ext">slider</a> 
                    
                    <a href="/bootstrap-templates/gallery" class="label label-default" target="ext">gallery</a> 
                    
                    <a href="/bootstrap-templates/sidebar" class="label label-default" target="ext">sidebar</a> 
                    
                    <a href="/bootstrap-templates/affix" class="label label-default" target="ext">affix</a> 
                    
                    <a href="/bootstrap-templates/contact" class="label label-default" target="ext">contact</a> 
                    
                    <a href="/bootstrap-templates/bootswatch" class="label label-default" target="ext">bootswatch</a> 
                    
                    <a href="/bootstrap-templates/coverstrap" class="label label-default" target="ext">coverstrap</a> 
                    
                    <a href="/bootstrap-templates/bootply" class="label label-default" target="ext">bootply</a> 
                    
                    <a href="/bootstrap-templates/blacktie" class="label label-default" target="ext">blacktie</a> 
                    
                    <a href="/bootstrap-templates/bootstraptaste" class="label label-default" target="ext">bootstraptaste</a> 
                </h4>
                <hr>
      		</div>
      	</div>
    </div>
