    <style>#forkongithub a{background:#CCFF33;color:#563d7c;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#CCFF33;color:#563d7c;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#ddff44;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-shadow:-2px -2px 0px rgba(0,0,0,0.2);}}</style><span id="forkongithub"><a href="https://github.com/codepo8/css-fork-on-github-ribbon">Fork Me on GitHub</a></span>
    <div id="masthead">  
      <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <h1>Bootstrap Templates <p class="lead"><span style="color:#CCFF33;">+Free</span> Themes for Bootstrap</p></h1>
            </div>
            <div class="col-sm-4">
                <!-- ad space
                <div class="well well-lg"> 
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="img-responsive" src="//placehold.it/280x100">
                    </div>
                  </div>
                </div>
                -->
            </div>
          </div>
      </div><!-- /cont -->
    </div>
    
    <div class="container" id="main">
	    <div class="row" id="starters">
      		<div class="col-md-12">
      			<h2>Starter Templates</h2>
                <p>Kickstart your Bootstrap design with these clean, vanilla templates.</p>
                <hr>
      		</div>
      	</div>
      	<div class="row">
      	    <% for(i in starters) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><a href="/bootstrap-template/<%=starters[i].title.toLowerCase().replace(" ","-")%>"><%=starters[i].title%></h3></a></div>
                	<div class="panel-body"><a href="/templates/<%=starters[i].id%>"><img src="<%=starters[i].imgUrl%>" class="img-responsive" /></a></div>
                	<div class="panel-footer"><strong><%=starters[i].short%></strong></div>
                </div>              
      		</div>
      		<% } %>
        </div>
        <hr>
        <div class="row" id="custom">
      		<div class="col-md-12">
      			<h2>Templates with Themes</h2>
                <p>Get a less Bootstrap-y look with these custom themes</p>
                <hr>
      		</div>
      	</div>
      	<div class="row">
      	    <% for(i in themes) {%>
  			<div class="col-sm-4">
              	<div class="panel panel-default">
                  	<div class="panel-heading"><h3><a href="/bootstrap-template/<%=themes[i].title.toLowerCase().replace(" ","-")%>"><%=themes[i].title%></a></h3></div>
                	<div class="panel-body"><a href="/templates/<%=themes[i].id%>"><img src="<%=themes[i].imgUrl%>" alt="<%=themes[i].full%>" class="img-responsive" /></a></div>
                	<div class="panel-footer"><strong><%=themes[i].short%></strong></div>
                </div>              
      		</div>
      		<% } %>
        </div>
    </div>
    
    <script>
    $(document).ready(function(){
        
    });
    </script>